<h1 id="header1">Welcome to the Dashboard Sujauddin</h1>
<h4 id="header2">We are happy to have you on our dashboard portal</h4>
<img src="../../../assets/welcomepic.jpg" class="image" />
<h1 id="header3">List of Items That an admin can do</h1>
<!-- <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active"
    >Add a Candidate</a
  >
  <a href="#" class="list-group-item list-group-item-action"
    >Update an Candidate</a
  >
  <a href="#" class="list-group-item list-group-item-action"
    >Monotor The Dashboard</a
  >
  <a href="#" class="list-group-item list-group-item-action">View The result</a>
</div> -->
<div class="row">
  <div class="col-5">
    <div class="list-group" id="list-tab" role="tablist">
      <a
        class="list-group-item list-group-item-action active"
        id="list-home-list"
        data-toggle="list"
        href="#list-home"
        role="tab"
        aria-controls="home"
        >Add a Candidate</a
      >
      <a
        class="list-group-item list-group-item-action"
        id="list-profile-list"
        data-toggle="list"
        href="#list-profile"
        role="tab"
        aria-controls="profile"
        >Update an candidate</a
      >
      <a
        class="list-group-item list-group-item-action"
        id="list-messages-list"
        data-toggle="list"
        href="#list-messages"
        role="tab"
        aria-controls="messages"
        >Monitor the dashboard</a
      >
      <a
        class="list-group-item list-group-item-action"
        id="list-settings-list"
        data-toggle="list"
        href="#list-settings"
        role="tab"
        aria-controls="settings"
        >View the result</a
      >
    </div>
  </div>
  <div class="col-7">
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show para1 active"
        id="list-home"
        role="tabpanel"
        aria-labelledby="list-home-list"
      >
        For add an candidate , Admin just go to Admin Dashboard Than Go to the
        Voter Section of the Dashboard , Under that voter section of the
        dashboard admin can add a candidate by giving the details of that
        candiate like full name, voter id number ,State , polling station . So
        that it is known to each and every one for the voter
      </div>
      <div
        class="tab-pane fade para1"
        id="list-profile"
        role="tabpanel"
        aria-labelledby="list-profile-list"
      >
        For Update an candidate , Admin just go to Admin Dashboard Than Go to
        the Voter Section of the Dashboard , Under that voter section of the
        dashboard admin can update an candidate by giving the details of that
        candiate like full name, voter id number ,State , polling station . So
        that it is known to each and every one for the voter
      </div>
      <div
        class="tab-pane fade para1"
        id="list-messages"
        role="tabpanel"
        aria-labelledby="list-messages-list"
      >
        For Monitor screen , Admin just go to Admin Dashboard Than Go to the
        dashboard Section of the Dashboard , Under that voter section of the
        dashboard admin can add a candidate by giving the details of that
        candiate like full name, voter id number ,State , polling station . So
        that it is known to each and every one for the voter
      </div>
      <div
        class="tab-pane fade para1"
        id="list-settings"
        role="tabpanel"
        aria-labelledby="list-settings-list"
      >
        For add an candidate , Admin just go to Admin Dashboard Than Go to the
        Voter Section of the Dashboard , Under that voter section of the
        dashboard admin can add a candidate by giving the details of that
        candiate like full name, voter id number ,State , polling station . So
        that it is known to each and every one for the voter
      </div>
    </div>
  </div>
</div>
