<h1 id="header1">Add New Candidate To The Voter Portal</h1>
<form id="addNewForm">
  <div class="form-group">
    <div class="row">
      <div class="col-sm">
        <label for="exampleInputName">Name of The Candidate</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Eg-Sk Sujauddin"
        />
      </div>
      <div class="col-sm">
        <label for="exampleInputVoterId">Voter Id Card Number</label>
        <input
          type="text"
          class="form-control"
          id="voterId"
          placeholder="Eg-XTV1456328"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm">
        <label for="exampleInputState">State of The Candidate</label>
        <input
          type="text"
          class="form-control"
          id="state"
          placeholder="Eg-West Bengal"
        />
      </div>
      <div class="col-sm">
        <label for="exampleInputPolling">Polling Station</label>
        <input
          type="text"
          class="form-control"
          id="polling"
          placeholder="Eg-kolkata-1"
        />
      </div>
    </div>
  </div>
  <br /><br />
  <button
    type="submit"
    id="btn1"
    class="btn btn-primary btn-lg btn-block"
    value="Submit"
  >
    Submit
  </button>
</form>
