<!-- <h1 id="header1">Change your password</h1> -->
<body class="text-center">
  <form class="form-signin">
    <img
      class="mb-4"
      src="../../assets/logo.png"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Change your Password</h1>
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword1"
      class="form-control"
      placeholder="New Password"
      required
      autofocus
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword2"
      class="form-control"
      placeholder="Confirm your Password"
      required
    />
    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Update
    </button>
  </form>
</body>
