<div class="text-center">
  <!-- Button HTML (to Trigger Modal) -->
  <button href="#myModal" class="trigger-btn btn-primary" data-toggle="modal">
    Click here to Log Out
  </button>
</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body text-center">
        <h4>Great!</h4>
        <p>Your have sucessfully log out</p>
        <button class="btn btn-success" data-dismiss="modal">
          <span>Start Exploring</span> <i class="material-icons">&#xE5C8;</i>
        </button>
      </div>
    </div>
  </div>
</div>
