<div class="row">
  <div class="col-sm">
    <div class="card text-white bg-secondary" style="max-width: 18rem">
      <div class="card-header">Candidate 1</div>
      <div class="card-body">
        <h5 class="card-title text-white">Details are below</h5>
        <p class="card-text">
          Party-BJP<br />Past Election-Failed<br />Margin-6000
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-white bg-info" style="max-width: 18rem">
      <div class="card-header">Candidate 2</div>
      <div class="card-body">
        <h5 class="card-title text-white">Details are below</h5>
        <p class="card-text">
          Party-Congress<br />Past Election-Failed<br />Margin-6000
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card text-white bg-primary" style="max-width: 18rem">
      <div class="card-header">Candidate 3</div>
      <div class="card-body">
        <h5 class="card-title text-white">Details are below</h5>
        <p class="card-text">
          Party-TMC<br />Past Election-Failed<br />Margin-6000
        </p>
      </div>
    </div>
  </div>
</div>
<h2 id="header2">Notice And Notification Regarding Election</h2>
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" colspan="2">Notification</th>
      <th scope="col">download</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td colspan="2"><a>Latest notification regarding voting 2021 </a></td>
      <td>
        <a><i nz-icon nzType="file-pdf" nzTheme="outline"></i></a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="2"><a>Latest notification regarding voting 2020</a></td>
      <td>
        <a><i nz-icon nzType="file-pdf" nzTheme="outline"></i></a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2"><a>Latest notification regarding voting 2019 </a></td>
      <td>
        <a><i nz-icon nzType="file-pdf" nzTheme="outline"></i></a>
      </td>
    </tr>
  </tbody>
</table>
